/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --ion-color-primary: #5DB075;
    --ion-color-primary-focused: #4B9460;
    --ion-color-light: #F6F6F6;
    --accent-color: #FFD700;
    --disease-color: #5C88C4;
    --danger-color: #FF6969;
}
.ion-color-primary {
    --ion-color-shade: #4B9460 !important;
}